body {
	background-color: #aaaaaa;
}

.detail-card, .login-card {
    margin: auto;
        margin-top: auto;
    width: 90%;
    max-width: 800px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 7px #000000;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.login-card {
	width: 300px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-shadow: 2px 2px 5px #000000;
}